.bgcolor{
    min-height: 100vh;
    background-color: #f1f2f9;
    width: "100%";
    padding: "2rem";
}

.Avialable-row{
    color: green; 
}

.Occupied-row{
    color: red; 
}

.tab-item:hover {
    background-color: #dbcff0;
    width: 100%;/* Change background color on hover */
  }
  
      /* Style for tab item text hover */
.tab-item:hover .MuiTypography-root .tab-icon{
    color: #6b43af; /* Change text color on hover */
}

